@font-face {
    font-family: Reckless;
    src: url(./RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family: Figtree;
    src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family:  Midnight;
    src: url(./fonts//midnight-sans-rd-12-medium-trial.otf);
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    min-height: 100vh;/* min height is used for giving minimum height to element*/
    background-color: #FBF9EB;
}

.top{
    color: white;
    background-color: #2A2857;
}
.top h5{
    font-family: sans-serif ;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
}
nav{
    width: calc(100% - 40px);
    background-color: #FFFEFB;

    padding: 14px 25px;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;

    /* STICKY NAVBAR */
    position: sticky;
    top: 15px;

    z-index: 999;

    box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}

/* MENU ICON */
nav i{
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
}

/* HIDE ICON ON DESKTOP */
@media (min-width:1024px){
    nav i{
        display: none;
    }
}

.nav-part-1{
    font-size: 20px;
    font-weight: 100;
    display: flex ;
    gap: 16px;
}
.nav-part-2{
    margin-left: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-part-3{
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: flex;
    gap: 28px;
    font-family: monospace ;
}
/* MOBILE */
@media (max-width:768px){

    .nav-part-1{
        display: none;
    }

    .nav-part-3 h3{
        display: none;
    }

    .nav-part-2 img{
        width: 100px;
    }

    nav{
        padding: 12px 18px;
    }
} 

#section-1{
    width: 100%;
    height: 85vh;background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 3rem 0.5rem;
    gap: 1rem;
    text-align: center;
    border-bottom: 1px solid #000;
}


#section-1 h1{
    font-size: clamp(3.5rem,5vw,5rem);
font-family: Reckless;
color: white;
font-weight: 500;

}

#section-1 p{
    font-size: clamp(1.2rem,1vw,1rem);
    font-family: Figtree;
    font-weight: 400;       
    color: white;
}

#section-1 button{
   
    padding: 1.2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    font-size: 1.1rem;
}
